body {
  background-color: red;
font-family: 'Rubik Mono One', sans-serif;
  margin: 0;
}
h1 {
  background-color: blue;
}
p {
  color: black;
}
.top {
  background-image: url('SOMEBODY_TOUCHA_MY_SPAGHET.jpg');
  background-repeat:1;
  height: 400px;
  width: 700px;
  margin: 0 auto;
  text-align: center;
}
.bottom {
  background-image: url('KNUCKLES-MEME.jpg');
  background-repeat:1;
  height: 400px;
}
